.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    padding: 20px;
    margin: 0 40px;
}

.title {
    color: black;
    font-size: 2.5rem;
    font-weight: bold;
}

.rightText {
    margin-top: 77px;
    flex: 1;
    text-align: justify;
    line-height: 30px;
}

.leftText {
    flex: 1;
    line-height: 50px;
}

@media (max-width: 767px) {
    .container {
        flex-direction: column;
    }

    .leftText {
        order: 1;
    }

    .rightText {
        order: 2;
    }
}